.container{
	display: flex;
	flex-direction: column;
	width: 100%;
}
header{
	order: 1;
}
.menu{
	order: 2;
}
.refs{
	order: 3;
}
.tablica{
	order: 4;
}
.form{
	order: 5;
}
footer{
	order: 6;
}


.text{
	font-size: 20px;
	font-weight: bold;
}
body{
	font-size: 17px;
	background: linear-gradient(-45deg, #5F9EA0,#7B68EE);
}
header{
	height: 110px;
}
.h{
	height: 103px;
}
.web{
	color: #F0F8FF;
	font-size: 23px;
	text-align: center;
}
.clogo{
	text-align: center;
}
.logo{
	width: 125px;
	height: 125px;
}
.block{
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
	text-align: center;
	height: 100%;
}
.r1{
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
	height: 100%;
}
.r2{
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
	height: 100%;
}
.t{
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
	height: 100%;
}
.ph{
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
	height: 100%;
}
.f{
	height: 100%;
	background:#F0F8FF;
	border-radius: 5px;
	box-shadow: 8px 8px 28px -10px rgba(52, 45, 171, 0.43);
}
.fo1{
	text-align: center;
	height: 100px;
}
.fo2{
	text-align: left;
	height: 100px;
}
.cont{
	width: 70px;
	height: 70px;
}
tr:nth-child(odd){
	background: #87CEEB;
}
tr:nth-child(even){
	background: #6495ED;
}

@media (max-width: 500px){
	.tablica{
		order: 5;
	}
	.form{
		order: 4;
	}
	.cont{
		width: 40px;
		height: 40px;
	}
}